<ng-container *ngIf="store$ | async as data">
  <app-loading *ngIf="data.isLoading"></app-loading>
  <app-error-message
    *ngIf="data.error"
    [message]="data.error"
  ></app-error-message>
  <div *ngIf="data.feed">
    <div class="article-preview" *ngFor="let item of data.feed.articles">
      <div class="article-meta">
        <a [routerLink]="['/profiles', item.author.username]">
          <img [src]="item.author.image" [alt]="item.author.username" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', item.author.username]">
            {{ item.author.username }}
          </a>
          <span class="date">{{ item.createdAt }}</span>
        </div>
        <div class="pull-xs-right">Add to Favorite</div>
      </div>
      <a [routerLink]="['/articles', item.slug]" class="preview-link">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
        <span>READ MORE..</span>
        <app-tag-list [tags]="item.tagList"></app-tag-list>
      </a>
    </div>
    <app-pagination
      [total]="data.feed.articlesCount"
      [limit]="20"
      [url]="baseUrl"
      [currentPage]="currentPage"
    ></app-pagination>
  </div>
</ng-container>
